
<!--Parte de cima-->
<div class="navbar navbar-expand-lg navbar-dark bg-dark">
  <h1>laboratório</h1>
</div>
<!--Botões-->
<div class="container-bt">
  <tr>
  <th><h4>Escolha a opção que deseja visualizar:</h4></th>
  <th> <button (click)="Pacientes()" class="btn btn-info"> Pacientes</button></th>
  <th><button (click)="Procedimentos()" class="btn btn-info" > Procedimentos</button></th>
  <th><button (click)="Exames()" class="btn btn-info" > Exames</button></th>

</tr>

</div>
<hr>
<!--Para aparecer as rotas selecionadas-->
<router-outlet></router-outlet>



